.experience {
  height: 100%;
  width: 100%;
}

.experience h1 {
  color: #ffa500;
}

.expList {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: auto;
  column-gap: 7.5%;
  row-gap: 2.5rem;
  list-style: none;
  padding: 0;
}

.expList li {
  display: inline-block;
  height: 10rem;
  width: 90%;
  background-color: #21262d;
  border-radius: 3px;
  padding: 5%;
}

.tileTitle {
  margin: 0 0 0.5rem 0;
  font-size: 1.1rem;
}

.tileInfo {
  font-size: 0.9rem;
  font-style: italic;
  color: #8b949e;
}

.tileDescription {
  font-size: 0.9rem;
  color: #8b949e;
}
