.homeBackground {
  background-color: #21262d;
  background-image: url("../media/bgImg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  padding: 2.5%;
}

.home {
  display: grid;
  grid-template-columns: 50% 50%;
}

.person {
  text-align: center;
}

.name {
  margin-top: 3rem;
  color: #ffa500;
  font-size: 2.5rem;
}

.title {
  color: #8b949e;
}

.introduction {
  margin-top: 3rem;
  padding: 1rem;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
  .name {
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 600px) {
}
