.homeBackground {
  background-image: url("../icons/bgTwo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  height: 95%;
  width: 95%;
  padding: 2.5%;
}
